#nav-header{
	background-color: #9E9E9E;
	margin:0px;
	text-decoration: none;
}
.row{
	margin:0px 10px;
}
#brand-name{
	color:white;
	font-size: 3em;
}

#Chicken, #Beef, #Sushi{
	background-color: #9E9E9E;
	font-size: 1.2em;

}
p{
	text-align: center;
	font-size: 1.4em;	
}
.jumbotron{
	background-color: white;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 15px;
}

@media (min-width: 992px){
.col-lg-4{
	margin: 0px 15px;
	-ms-flex: 0 0 calc(33.333333% - 30px);
    flex: 0 0 calc(33.333333% - 30px);
    max-width: calc(33.333333% - 30px);
}
}
@media (min-width: 768px ) and (max-width: 991px) {
 .col-md-6{
 	 margin: 15px 15px;
	-ms-flex: 0 0 calc(50% - 30px);
    flex: 0 0 calc(50% - 30px);
    max-width: calc(50% - 30px);
}
  .col-md-12 {
  	margin: 15px 15px;
    -ms-flex: 0 0 calc(100% - 30px);
    flex: 0 0 calc(100% - 30px);
    max-width: calc(100% - 30px);
  }
}
@media (max-width: 767px) {
.col-sm-12 {
	margin :15px 0px;
}
}
